@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #1A759F;
    color: #333;
}

header {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    height: 10vh;
    align-items: center;
    padding-left: 3rem;
}
span {
    font-weight: lighter;
}

ul li {
    display: inline;
}

li a {
    text-decoration: none;    
}

main {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    
    
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    background-color: #168AAD;
    box-shadow: -2px 2px 50px 2px hwb(0 0% 100% / 0.281);
    padding: 3rem 3rem 0rem 3rem;
}

.socials {
    width: 25vw;
    background-color: whitesmoke;
    padding-top: 0.5rem;
    padding-left: 10.5vw;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 25vw;
    text-align: justify;
    background-color: whitesmoke;

}

#portrait {
    border-radius: 50%;
    height: 15vh;
    width: auto;
}

a:hover, a:focus {
    cursor: pointer;               ;
}

footer {
    display: flex;
    justify-items: center;
    
}




